@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

@{
    ViewData["Title"] = "ETSU Tours";
}

<div id="page-content">

    <!-- ETSU logo -->
    <img id="main-logo" src="~/images/logos/ETSU_FullName_shield_logo.jpg" alt="ETSU LOGO" />


    <!-- Tour dropdown menu -->
    <div id="dropdown-container">
        <h2 id="dropdown-title">Tours</h2>
        <ul id="dropdown-items">
            <li><a href="">example 1</a></li>
            <li><a href="">example 2</a></li>
            <li><a href="">example 3</a></li>
        </ul>
    </div>

    <!-- Static map of ETSU campus -->
    <p class="aligncenter">     <!--Alight the map in the center-->
    <img src="~/images/ETSU_Map.png" type="application/pdf" width="600px" height="450px" />     <!--The width and height are set manually to size teh .png-->
    </p>
    
</div>

@section Scripts {
    <script src="~/js/index.js" defer></script>
}

<!--This is used to center the .png map on the page-->
<style>
    .aligncenter {
        text-align: center;
    }
</style>
