@{
    ViewData["Title"] = "ETSU Tours";
}


<!-- ETSU logo goes here! -->
<div>
    <h1>!!PLACEHOLER FOR ETSU LOGO!!</h1>
</div>


<!-- Tour dropdown menu goes here! -->
<div>
    <h2>!!PLACEHOLDER FOR DROPDOWN MENU!!</h2>
</div>

<embed src="~/images/etsu-map.pdf" type="application/pdf" />