@{
    ViewData["Title"] = "ETSU Tours";
}


<!-- ETSU logo goes here! -->
<div>
    <img id="main_logo" src="~/images/logos/ETSU_FullName_shield_logo.jpg" alt="ETSU LOGO" />
</div>


<!-- Tour dropdown menu goes here! -->
<div>
    <h2>!!PLACEHOLDER FOR DROPDOWN MENU!!</h2>
</div>

<embed src="~/images/etsu-map.pdf" type="application/pdf" />