@model ICollection<Location>

<div class="header">
<img class="parking-logo" src="~/images/logos/parking_image.jpg" alt="PARKING LOGO"/>
<p class="title">Select a location and desired parking type from the form below, and we'll find you the nearest parking lot.</p>
</div>

<form id="parking-form">

    <!-- Location select -->
    <div class="select-container">
    <label for="location-select">Location:</label>
    <select class="location-select" name="location-select">
        @foreach (var location in Model)
        {
            if (location.Latitude != null && location.Latitude != null)
            {
                <option value="@location.Latitude,@location.Longitude">@location.Name</option>
            }
        }
    </select>
    <br /><br />
    </div>

    <div class="button-container">
    <!-- Parking type select -->
    <label for="parking-select">Parking Type:</label>
    <input type="radio" name="parking-select" value="student">Student</input>
    <input type="radio" name="parking-select" value="faculty/staff">Faculty/Staff</input>

    <!-- Form submit button (behavior defined in JS) -->
    <button type="button" id="form-submit" value="Submit">
        Submit
    </button>

    <div id="parking-data" style="display:none">

    </div>

</form>

<!-- Button to return to homepage-->
<form style="text-align: left">
    @Html.ActionLink("<-- Go Back Ya Dingus!", "Index", "Home", null, new { @class="btn btn-secondary" })
</form>

<style>
    .header {
        text-align: center;
    }

    .parking-logo {
        max-width: 500px;
        align-self: center;
    }

    .title {
        font-weight: bold;
        font-size: 20px;
    }

    .select-container {
        text-align: center;
    }

    .button-container {
        text-align: center;
    }

    .location-select {
        text-align: center;
    }

</style>

@section Scripts{
    <script src="~/js/parking-api.js"></script>
}