@{

    ViewData["Title"] = "Tour Page";
}
<link rel="shortcut icon" type="image/x-icon" href="~/etsu.ico" />
<div class="text-center">
    <header>
        <img id="main_logo" src="~/images/logos/ETSU_FullName_shield_logo.jpg" alt="ETSU LOGO" width="400" height="200" />
    </header>
    <h1 class="display-4">Welcome to General Tour Page</h1>
</div>