@model ICollection<Location>

<p>Select a location and desired parking type from the form below, and we'll find you the nearest parking lot.</p>

<form id="parking-form">

    <!-- Location select -->
    <label for="location-select">Location:</label>
    <select id="location-select" name="locations">
        @foreach (var location in Model)
        {
            if (location.Latitude != null && location.Latitude != null)
                <option value="@location.Latitude,@location.Longitude">@location.Name</option>
        }
    </select>

    <!-- Parking type select -->
    <label for="parking-select">Parking Type:</label>
    <radio id="parking-select" name="parking types">
        <option value="student">Student</option>
        <option value="faculty/staff">Faculty/Staff</option>
    </radio>

    <!-- Form submit button (behavior defined in JS) -->
    <input type="button" id="form-submit" value="Submit" />

</form>