@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Nursing Tour";
}

<h1>Nursing Tour</h1>
<hr />

<hr />

@{
}
