@{
    
    ViewData["Title"] = "Home Page";
}
<link rel="shortcut icon" type="image/x-icon" href="~/etsu.ico" />
<div class="text-center">
    <header><img id="main_logo" src="~/images/logos/ETSU_FullName_shield_logo.jpg" alt="ETSU LOGO" width="400" height="200" />
        <img id="secondary_logo" src="~/images/logos/ETSU_Shield_logo.jpg" alt="shield" height="200" width="200" />
        <img id="third_logo" src="~/images/logos/ETSU-Buccaneers-logo.png" alt="E" height="200" width="200"/>
    </header>
</div>
