@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Location

@{
    <h1>@Model.Name</h1>
    <h4>@Model.Description</h4>
    <h4>images and other stuff too. probably display this like the tour pages but without the next/back buttons</h4>
}
